@using Newtonsoft.Json
@model JomMalaysia.Presentation.ViewModels.Listings.RegisterListingViewModel
<!--modal-->
@{
    ViewData["Title"] = "Edit Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--HEADER-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="submit" form="FormCreate" class="btn btn-success col-md-2 submitButton" id="btnListingSubmit">Save</button>
    <button type="button" class="btn btn-danger col-md-2 cancelButton" onclick="window.history.go(-1); return false;">Back</button>
</div>

<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0; left: 0; will-change: transform;">

            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Back</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-controller="Listing" asp-action="Edit" id="FormCreate"
      class="form-m-gap-top" method="post">
    <input type="hidden" asp-for="@Model.ListingId" value="@Model.ListingId"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditorForModel();


</form>
<div id="service-helper"></div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_PlacesApiPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_CloudinaryPartial"); }
    @{ await Html.RenderPartialAsync("_TimePickerPartial"); }
    <script src="~/js/Listings/ModalFunctionScripts.js"></script>


    <script type="text/javascript">
    let tags =  @Html.Raw(JsonConvert.SerializeObject(Model.Tags));
    let tagSelect = $("#tags-select2");

    tagSelect.select2({tags: true,tokenSeparators: [',', ' ']});

    tags.forEach(createTagObject);
    
    function createTagObject(name){
        
        var option = new Option(name,name,true,true);
        tagSelect.append(option).trigger('change');
        
    }
    



    $("#FormCreate").submit(function (e) {
          e.preventDefault();
      let data = $(this).serialize();
      // let listingId = $('input[name="ListingId"]').val();
        let token = $('input[name="__RequestVerificationToken"]').val();
                  debugger
                  if ($(this).valid()) {
                      $.ajax({
                          //TODO add [ValidateAntiForgeryToken]
                          url: "/Listing/Edit/",
                          data: data,
                           headers: {
                           'RequestVerificationToken': token
                           },
                          type: "POST",
                          success: (function ({ item1, item2 }) {
                               if (item1 === 1) {
                                  sweetAlert({
                                      title: "Changes are saved",
                                      text: "Listing info is updated successfully!",
                                      type: "success"
                                  },
                                      function () {
                                          window.location.href = '/listing';
                                      });
                              } else {
                                    swal("Oops",item2,"error");
                              }
                                     }),
                               error: (function (data) {
                              swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                          })
                      })
                  }

    });

    




    </script>


}