@model IEnumerable<JomMalaysia.Presentation.ViewModels.Workflows.WorkflowStatus>
@addTagHelper *, JomMalaysia.Presentation

@{
    ViewData["Title"] = "Workflow";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (TempData["Message"] != null)
    {

    }
}


<ul class="nav nav-tabs">
    @foreach (var x in @Model)
    {
        <li class="nav-item">
            <a class="nav-link justify-content-between align-items-center" data-toggle="tab" href="#@x.Name">@x.Name <span class="badge badge-primary badge-pill">@x.Count</span></a>

        </li>
    }
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active show" id="All">
        <vc:all-workflow status="all">
        </vc:all-workflow>
    </div>
    <div class="tab-pane fade show" id="Pending">
        <vc:all-workflow status="pending">
        </vc:all-workflow>
    </div>
    <div class="tab-pane fade" id="Level1">
        <vc:all-workflow status="level1">
        </vc:all-workflow>
    </div>
    <div class="tab-pane fade" id="Level2">
        <vc:all-workflow status="level2">
        </vc:all-workflow>
    </div>
    <div class="tab-pane fade" id="Completed">
        <vc:all-workflow status="completed">
        </vc:all-workflow>
    </div>
    <div class="tab-pane fade" id="Rejected">
        <vc:all-workflow status="rejected">
        </vc:all-workflow>
    </div>
</div>


<!--Other Commmon Scripts are in _LayoutIndex.cshtml-->

@section SpecificScripts{

    <script type="text/javascript">


        function confirmDelete(userid, username) {

            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete " + username + "?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes",
                confirmButtonColor: "#ec6c62"
            },
                function () {
                    $.ajax({
                        //TODO add [ValidateAntiForgeryToken]
                        url: "/User/ConfirmDelete/",
                        data: {
                            "UserId": userid
                        },
                        type: "POST",
                        success: (function ({ item1, item2 }) {
                            if (item1 == 1) {
                                sweetAlert({
                                    title: "Deleted",
                                    text: username + " has been deleted successfully!",
                                    type: "success"
                                },
                                    function () {
                                        window.location.href = '/user';
                                    });
                            }
                            else {
                                swal(
                                    "Oops",
                                    item2,
                                    "error"
                                );
                            }
                        }), error: (function (data) {
                            swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                        })
                    })
                });
        }





    </script>
}
