@{
    ViewBag.Title = ViewBag.LayoutViewModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
<h2>ViewBag.Title</h2>

<!--Buttons-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="button" class="btn btn-success col-md-2" onclick="$('#btnSubmit').click()">Save</button>
    <button type="button" class="btn btn-danger col-md-2" onclick="window.history.go(-1); return false;">Cancel</button>
</div>

<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" onclick="$('#btnSubmit').click()">Save</a>
            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Cancel</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<br />

@RenderBody()
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/form-validation.js"></script>
    <script type="text/javascript">

        // #region Common Scripts in Create

        $('#btnSubmit').click(function () {
            debugger;
            $("#FormCreate").valid();
        });
        // #endregion


        // #region Common Scripts in Edit

        // #endregion

    </script>
}
