
@model JomMalaysia.Presentation.ViewModels.Listings.OperatingHourViewModel

@* @{ var days = Enum.GetValues(typeof(DayOfWeek)); } *@
@* @for(var i = 0;i < days.Length;i++) *@
@*     { *@
@*         <div class="form-group row"> *@
@*             <div class="col-md-3">@days.GetValue(i)</div> *@
@*              *@
@*         </div> *@
@*     } *@
heheheh