@model JomMalaysia.Presentation.ViewModels.Listings.OperatingHourViewModel


<div class="form-group row @Model.Day">

    <div class="col-sm-11 col-md-2">
        <label class="label">@Model.Day</label>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="custom-control custom-switch">
            <input type="hidden" asp-for="Day" value="@Model.Day"/>
            <input type="checkbox" class="custom-control-input OperatingCb"
                   asp-for="Enabled" onclick="showHourField(this)" data-day="@((int) Model.Day)">
            <label class="custom-control-label" type="hidden" asp-for="Enabled">Closed</label>
        </div>
    </div>
   
        <div class="col-sm-10 col-md-8 row justify-content-center" id="hour-field-@((int)Model.Day)" style="display:none">
            <input asp-for="StartTime" class="col-md-4 timepicker start-time"/>
            <label class="label col-md-2"> - </label>
            <input asp-for="CloseTime" class="col-md-4 timepicker close-time"/>
        </div>
    
</div>